@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #f8f8f8;
  --color-blue: #00b1ff;
  --color-pink: #ec00e1;
  --color-bg-dark: #0a0c1e;
  --color-bg-offset: #0f1226;
  --color-bg-alt: #1f244a;
  --color-bg-nav: #010202;
  --color-bg-shadow: #111111;
  --color-text-offset: #777bab;
  --color-border: #4d517a;
}

body {
  background: var(--color-bg-dark);
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

html,
body {
  overflow-x: hidden;
}
